
@*@{
    ViewData["Title"] = "AppliedRequests";
}

<h2 class="makeflex">الطلبات المرسلة</h2>
<hr />


@foreach (var item in Model)
{


<div>
    <div class="makeflex">
        <p class="rigthTitle">عنوان الطلب:</p>
        <p class="leftInfo">حط عنوان الطلب هنا</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">التفاصيل:</p>
        <p class="leftInfo">حط الديسكريبشن اللي الزبون كاتبه هنا</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">الاسم:</p>
        <p class="leftInfo">حط اسم صاحب الطلب هنا</p>
    </div>
  
    <div class="makeflex">
        <p class="rigthTitle">محتوي الرسالة:</p>
        <p class="leftInfo">حط الديسكريبشن اللي العامل كاتبه هنا</p>
    </div>
 
    <div class="makeflex">
        <p class="rigthTitle">البلد:</p>
        <p class="leftInfo">@item.worker.Country</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">المدينة:</p>
        <p class="leftInfo">@item.worker.City</p>
    </div>

    <div class="makeflex">
        <p class="rigthTitle">اكثر سعر:</p>
        <p class="leftInfo">حط السعر هنا</p>
    </div>




    <div class="makeflex">

        <a class="btn-primary defultbutton rightButton" href=@Url.Action("protosupporter","Workers",item.worker)>الغاء الطلب</a>


       




    </div>


    

</div>
    <hr />
}*@

