
@{
    ViewData["Title"] = "profile";
}

<h2>معلومات الحساب </h2>
<hr />
<div>
    <div class="makeflex">
        <p class="rigthTitle">الاسم:</p>
        <p class="leftInfo">حط الاسم هنا</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">البريد الالكتروني:</p>
        <p class="leftInfo">حط الميل هنا</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">رقم الهاتف:</p>
        <p class="leftInfo">حط الرقم هنا</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">التقييم:</p>
        <p class="leftInfo">حط التقييم هنا</p>
    </div>
</div>

