
@*@{
    ViewData["Title"] = "showReviews";
}

@foreach (var item in Model)
{


    <div>
        <div class="makeflex">
            <p class="rigthTitle">اسم الزبون:</p>
            <p class="leftInfo">حط اسم الراجل اللي عامل الريفيو هنا</p>
        </div>
        <div class="makeflex">
            <p class="rigthTitle">الريفيو:</p>
            <p class="leftInfo">حط الريفيو</p>
        </div>
      

    </div>
    <hr />
}*@


