
@*@{
    ViewData["Title"] = "makeReview";
}

<div class="row">
    <div class="col-md-4 register">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
           

                <h4 class="makeflex">ريفيو</h4>
                <hr />

                @Html.TextAreaFor(model => model.description, new { @class = "form-control height200 fullWidth", placeholder = "تفاصيل الريفيو" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                <br>

                <div class="center">
                    <input type="submit" value="ارسال" class="ersal center defultbutton rightButton" />
                </div>



        }
    </div>
</div>*@

